:root {
  // colors
  --primary: #3d6aed;
  --primary-dark: #138b3f;
  --white: #ffffff;
  --black: #000;
  --main: #111827;
  --main2: #020817;
  --gray: #64748b;
  --text-color: #4b5563;
  //   fonts
  --main-font: "Inter", sans-serif;
  --menlo-font: "Menlo", sans-serif;
}
